@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root{
    --blue: rgb(0, 102, 255);
}

::selection {
    background: var(--blue);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--blue);
    /* Gecko Browsers */
}
:global(body) {
    color: azure;
}
